[
    {interview_question_rover, [
        {pools, [
            {rover_workers, [
                {size, 1000},
                {max_overflow, 2000}
            ], [
                {worker_impl, interview_question_rover_rover_worker}
            ]}
        ]}
    ]},

    %% Lager configuration
    {lager,[
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
    ]}
].