{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {poolboy, "1.5.2"},
  {lager, "3.9.2"}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [
    lager,
    interview_question_rover
  ]}
]}.

{relx, [{release, {interview_question_rover, "0.1.0"},
         [
          lager, 
          poolboy,
          interview_question_rover
        ]},

        {dev_mode, false},
        {include_erts, false},

        {sys_config,  "./config/sys.config"},

        {extended_start_script, true}]}.