{erl_opts, [debug_info]}.

{deps, [
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, master}}}
]}.

{shell, [
	{config, "config/sys.config"},
    {apps, [cowboy_optional_route]}
]}.

{relx, [

	{release, {cowboy_optional_route, "0.1.0"},

	[
		cowboy_optional_route,
		cowboy
	]},
		
	{dev_mode, false},
	{include_erts, false},
	
	{sys_config,  "./config/sys.config"},
	
	{extended_start_script, true}
]}.