{erl_opts, [debug_info]}.
{deps, [
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, master}}},
  {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, master}}},
  {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {branch, main}}},
  {gen_smtp, ".*", {git, "https://github.com/gen-smtp/gen_smtp.git", {branch, master}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {apps, [cowboy, lager, mochiweb, gen_smtp, first]}
]}.

{relx, [{release, {first, "0.1.0"},
         [cowboy, lager, mochiweb, gen_smtp, first]},

        {dev_mode, false},
        {include_erts, false},
        {vm_args, "config/vm.args"},

        {extended_start_script, true}]}.
