{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
  {cowboy, "2.9.0"},
  {mochiweb, "3.0.0"},
  {lager, "3.9.2"},
  {brod, "3.16.3"}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [kafka_consumer]}
]}.

{relx, [{release, {kafka_consumer, "0.1.0"},
         [cowboy, mochiweb, lager, brod, websocket_client,
         kafka_consumer]},

        {dev_mode, false},
        {include_erts, false},

        %supply our own application configuration
        {sys_config,  "./config/sys.config"},

        {extended_start_script, true}]}.