[
  {brod, [ 
    {clients, [
      { brod_consumer_client, [
        { endpoints, [{"192.168.0.4", 9092}] }, 
        { query_api_versions, false }, 
        { reconnect_cool_down_seconds, 10 }
      ]}
    ]}
    
  ]},
           
  {lager, [
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]},
      {lager_file_backend, [{file, "debug.log"}, {level, debug}]}
    ]}
  ]}
].