{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [second]}
]}.

{relx, [{release, {second, "0.1.0"},
         [second]},

        {dev_mode, false},
        {include_erts, false},
        {vm_args, "config/vm.args"},

        {extended_start_script, true}]}.